/*
 * -------------------------------------------------
 *  ATAC-seq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = 'ATAC-seq'
  author = 'C. Benoit, N. Servant'
  homePage = 'https://gitlab.com/data-analysis/atacseq'
  description = 'Nextflow pipeline for ATAC-seq data analysis'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0.0'
}

// Global default params, used in configs
params {
  help = false 
  name = false

  // Workflow flags
  genome = false
  reads = null
  samplePlan = null
  design = false
  outDir = './results'
  singleEnd = false
  inputBam = false
  bamPaths = false 

  // default options
  multiqcConfig = "$baseDir/assets/multiqcConfig.yaml"
  metadata = "$baseDir/assets/metadata.tsv"

  // Output directories
  outDir = './results'
  summaryDir = "${params.outDir}/summary"

  // fastq
  fragmentSize = 0

  // alignment
  aligner = 'bwa-mem'
  saveAlignedIntermediates = false
  
  //calling
  caller = "macs2"

  // filtering
  keepMito = false
  keepDups = false
  keepSingleton = false
  mapq = 20

  // preseq
  preseqDefect = false

  // FeatureCounts
  tssSize = 2000

  // Calling
  tn5sites = false
  extsize = 73

  //skips
  skipFastqc = false
  skipPreseq = false
  skipFiltering = false
  skipDeepTools = false
  skipPeakCalling = false
  skipPeakAnno = false
  skipSoftVersions = false
  skipMultiQC = false
  skipShift = false
}

/*
 * Configs and profiles
 */

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker { 
    includeConfig 'conf/docker.config'
  }
  singularity { 
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test {
    includeConfig 'conf/test.config'
  }
}

// Load annotation
includeConfig 'conf/genomes.config'  
