docker {
    enabled = true
    runOptions = "${params.dockerRunOptions}"
}

process {
  withLabel:python { container = "python" }
  withLabel:fastqc { container = "fastqc" }
  withLabel:bwa { container = "bwa" }
  withLabel:bowtie2 { container = "bowtie2" } 
  withLabel:samtools { container = "samtools" } 
  withLabel:picard { container = "picard" } 
  withLabel:preseq { container = "preseq" } 
  withLabel:r { container = "r-atac" } 
  withLabel:deeptools { container = "deeptools" } 
  withLabel:macs2 { container = "macs2" } 
  withLabel:genrich { container = "genrich" 
  withLabel:homer { container = "homer" }
  withLabel:bedtobigbed { container = "bedtobigbed"  
  withLabel:multiqc { container = "multiqc" } 
}