docker {
    enabled = true
    runOptions = "${params.dockerRunOptions}"
}

process {
  withLabel:python { container = "python-3.7.1" }
  withLabel:fastqc { container = "fastqc-0.11.8" }
  withLabel:bwa { container = "bwa-0.7.17" }
  withLabel:bowtie2 { container = "bowtie2-2.3.5" } 
  withLabel:samtools { container = "samtools-1.9" } 
  withLabel:picard { container = "picard-2.19.0" } 
  withLabel:preseq { container = "preseq-2.0.3" } 
  withLabel:r { container = "r-atac" } 
  withLabel:deeptools { container = "deeptools-3.2.1" } 
  withLabel:macs2 { container = "macs2-2.2.6" } 
  withLabel:genrich { container = "genrich-2.27.1" 
  withLabel:homer { container = "homer-4.10" }
  withLabel:bedtobigbed { container = "bedtobigbed-377"  
  withLabel:multiqc { container = "multiqc-1.9" } 
}