/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */

params {

  // Limit resources so that this can run on Travis
  maxCpus = 4
  maxMemory = 8.GB
  maxTime = 2.h

  genomeAnnotationPath = "/data/annotations/pipelines"

  // Input data
  //samplePlan = "${baseDir}/test/samplePlan.csv"
  readPaths = [
    ['ID1', ["${baseDir}/test/data/mDC_R1_T1_chr19_R1.fastq.gz", "${baseDir}/test/data/mDC_R1_T1_chr19_R2.fastq.gz"]],
    ['ID2', ["${baseDir}/test/data/mDC_R2_T1_chr19_R1.fastq.gz", "${baseDir}/test/data/mDC_R2_T1_chr19_R2.fastq.gz"]],
    ['ID3', ["${baseDir}/test/data/pDC_R1_T1_chr19_R1.fastq.gz", "${baseDir}/test/data/pDC_R1_T1_chr19_R2.fastq.gz"]],
  ]
  genome = 'hg19'
  preseqDefect = true
  caller = 'macs2,genrich'
}
