/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */

params {

  // Limit resources so that this can run on Travis
  maxCpus = 4
  //maxMemory = 8.GB
  maxMemory = 35.GB
  //maxTime = 2.h

  genomeAnnotationPath = "/data/annotations/pipelines"

  // Input data
  //samplePlan = "${baseDir}/test/samplePlan.csv"
/*  
  readPaths = [
    ['ID1', ["${baseDir}/test/data/mDC_R1_T1_chr4_R1.fastq.gz", "${baseDir}/test/data/mDC_R1_T1_chr4_R2.fastq.gz"]],
    ['ID2', ["${baseDir}/test/data/mDC_R2_T1_chr4_R1.fastq.gz", "${baseDir}/test/data/mDC_R2_T1_chr4_R2.fastq.gz"]],
    ['ID3', ["${baseDir}/test/data/pDC_R1_T1_chr4_R1.fastq.gz", "${baseDir}/test/data/pDC_R1_T1_chr4_R2.fastq.gz"]], 
  ]
*/

/*
  readPaths = [
    ['ID1', ["/data/tmp/FOR_clement/atacseq/truncated/SRR7866361_1_30k.fastq.gz", "/data/tmp/FOR_clement/atacseq/truncated/SRR7866361_2_30k.fastq.gz"]],
    ['ID2', ["/data/tmp/FOR_clement/atacseq/truncated/SRR7866359_1_30k.fastq.gz", "/data/tmp/FOR_clement/atacseq/truncated/SRR7866359_2_30k.fastq.gz"]],
    ['ID3', ["/data/tmp/FOR_clement/atacseq/truncated/SRR7866360_1_30k.fastq.gz", "/data/tmp/FOR_clement/atacseq/truncated/SRR7866360_2_30k.fastq.gz"]],
  ]
*/

readPaths = [
    ['ID1', ["${baseDir}/test/data/mDC_R1_T1_chr19_R1.fastq.gz", "${baseDir}/test/data/mDC_R1_T1_chr19_R2.fastq.gz"]],
    ['ID2', ["${baseDir}/test/data/mDC_R2_T1_chr19_R1.fastq.gz", "${baseDir}/test/data/mDC_R2_T1_chr19_R2.fastq.gz"]],
    ['ID3', ["${baseDir}/test/data/pDC_R1_T1_chr19_R1.fastq.gz", "${baseDir}/test/data/pDC_R1_T1_chr19_R2.fastq.gz"]],
]


  design = "${baseDir}/test/design.csv"
  genome = 'hg19'
 // preseqDefect = true 
}
